# Xcode
.DS_Store
build/
*.xccheckout
*.xcuserstate


*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
profile
*.moved-aside
DerivedData
.idea/


Pods/
Pods/
Example/Pods/
Example/Example.xcodeproj/xcshareddata/
Growing/release

release/

# ignore XCExtent report
*/XCExtentReport.html

# commitzen tool
node_modules/
package-lock.json
package.json

# oclint files
compile_commands.json
Example/compile_commands.json
# ci
certificates.tar
/certificates