# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: macos-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      # Runs a single command using the runners shell
        with:
          fetch-depth: 0
      - name: Cache cocoapods
        uses: actions/cache@v2
        with:
          path: Pods
          key: ${{ runner.os }}-pods-${{ hashFiles('**/Podfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-pods-

      - name: Before script
        run: |
          pod install
          
      - name: Run ExampleTests
        run: xcodebuild test -workspace GrowingAnalytics.xcworkspace -scheme ExampleTests -destination 'platform=iOS Simulator,name=iPhone 13' GCC_INSTRUMENT_PROGRAM_FLOW_ARCS=YES GCC_GENERATE_TEST_COVERAGE_FILES=YES | xcpretty
        
      - name: Run ExampleTests-Protobuf
        run: xcodebuild test -workspace GrowingAnalytics.xcworkspace -scheme ExampleTests-Protobuf -destination 'platform=iOS Simulator,name=iPhone 13' GCC_INSTRUMENT_PROGRAM_FLOW_ARCS=YES GCC_GENERATE_TEST_COVERAGE_FILES=YES | xcpretty

      - name: Upload coverage to Codecov
        if: always()
        run: bash <(curl -s https://codecov.io/bash)
