name: Testing

on: 
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-15

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Xcode Select
        run: sudo xcode-select -switch /Applications/Xcode_26.0.1.app

      - name: Cache cocoapods
        uses: actions/cache@v4
        with:
          path: Pods
          key: ${{ runner.os }}-pods-${{ hashFiles('**/Podfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-pods-

      - name: Pod Install
        run: cd Example && pod install && cd ..

      - name: Run tests
        run: |
          xcodebuild test -workspace Example/GrowingAnalytics.xcworkspace \
          -scheme GrowingAnalyticsTests \
          -testPlan GrowingAnalyticsTests \
          -destination 'platform=iOS Simulator,name=iPhone 17 Pro Max'
