name: Cocoapods
on:
  release:
    types: [published]

jobs:
  publish:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v3

      # https://github.com/CocoaPods/CocoaPods/issues/9497
      # https://github.com/CocoaPods/cocoapods-trunk/pull/147
      - name: Install cocoapods-trunk
        run: gem install cocoapods-trunk
        
      - name: Deploy to Cocoapods
        run: |
          set -eo pipefail
          pod trunk push GrowingAnalytics.podspec --verbose --allow-warnings --use-libraries
          pod trunk push GrowingAnalytics-cdp.podspec --verbose --allow-warnings --use-libraries --synchronous
        env:
          COCOAPODS_TRUNK_TOKEN: ${{ secrets.COCOAPODS_TRUNK_TOKEN }}
